@page "/timecards"

@inject NavigationManager NavigationManager
@inject IViewTimeCardsUseCase ViewTimeCardsUseCase
@inject IGetTimeCardById GetTimeCardById


<h3>View Time Cards</h3>

@if (timeCards != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Project</th>
                <th>Task</th>
                <th>Notes</th>
                <th>Time Spent</th>
                <th>Action</th>
                <th colspan=6>Timer</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var card in timeCards)
            {
                <tr>
                    <td>@card.UserName</td>
                    <td>@card.ProjectName</td>
                    <td>@card.TaskName</td>
                    <td>@card.Notes</td>
                    <td>@card.TimeSpent.Hours hrs : @card.TimeSpent.Minutes min</td>
                    <td><button type="button" data-toggle="tooltip" title="Edit" @onclick="@(() => EditTimeCard(card))" class="btn btn-primary oi oi-pencil"></button></td>
                    <td><button type="button" data-toggle="tooltip" title="Start" @onclick="@(async () =>  { await StopWatch(card.Id); })" class="btn btn-success oi oi-media-play"></button></td>
                    <td><button type="button" data-toggle="tooltip" title="Pause" @onclick="@(() => { card.IsRunning = false; })" class="btn btn-light oi oi-media-pause"></button></td>
                    <td><button type="button" data-toggle="tooltip" title="Resume" @onclick="@(async () =>  { await StopWatch(card.Id); })" class="btn btn-light oi oi-media-step-forward"></button></td>
                    <td><button type="button" data-toggle="tooltip" title="Stop" @onclick="@(() => { card.IsRunning = false; UpdateTimeCard(card); card.StopwatchValue = new TimeSpan(); })" class="btn btn-danger oi oi-reload"></button></td>
                    <td><div>@card.StopwatchValue</div></td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button class="btn btn-primary" @onclick="OnClickAddTimeCard">Add Time Card</button>


@code {
    private List<TimeCard>? timeCards;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        timeCards = ViewTimeCardsUseCase.Execute()?.ToList();
    }

    private void OnClickAddTimeCard()
    {
        NavigationManager.NavigateTo("/addtimecard");
    }
    private void EditTimeCard(TimeCard timeCard)
    {
        NavigationManager.NavigateTo($"/edittimecard/{timeCard.Id}");
    }

    private async Task StopWatch(int id)
    {
        var timeCard = GetTimeCardById.Execute(id);

        timeCard.IsRunning = true;
        while (timeCard.IsRunning)
        {
            await Task.Delay(1000);
            if (timeCard.IsRunning)
            {
                timeCard.StopwatchValue = timeCard.StopwatchValue.Add(new TimeSpan(0, 0, 1));
                StateHasChanged();
            }
        }
    }

    private void UpdateTimeCard(TimeCard timeCard)
    {
        timeCard.TimeSpent = timeCard.StopwatchValue;
        StateHasChanged();
    }

}
