@page "/timecards"

@inject NavigationManager NavigationManager
@inject IViewTimeCardsUseCase ViewTimeCardsUseCase

<h3>View Time Cards</h3>

@if(timeCards != null)
{
   <table class="table">
       <thead>
           <tr>
               <th>Username</th>
               <th>Project</th>
               <th>Task</th>
               <th>Notes</th>
               <th>Time Spent (Hours)</th>
               <th>Action</th>
           </tr>
       </thead>
       <tbody>

    @foreach (var card in timeCards)
    {
        <tr>
            <td>@card.UserName</td>
            <td>@card.ProjectName</td>
            <td>@card.TaskName</td>
            <td>@card.Notes</td>
            <td>@card.TimeSpent</td>
            <td><button type="button" @onclick="@(() => EditTimeCard(card))" class="btn btn-primary">Edit</button></td>
        </tr>
    }
       </tbody>
   </table>
}
<br/>
<button class="btn btn-primary" @onclick="OnClickAddTimeCard">Add Time Card</button>


@code {
    private List<TimeCard>? timeCards;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        timeCards = ViewTimeCardsUseCase.Execute()?.ToList();
    }

    private void OnClickAddTimeCard()
    {
        NavigationManager.NavigateTo("/addtimecard");
    }
    private void EditTimeCard(TimeCard timeCard)
    {
        NavigationManager.NavigateTo($"/edittimecard/{timeCard.Id}");
    }
}
